input[type="submit"] {
  background-color: #cf871b;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  height: 80%;
  font-weight: bold;
}
